.circular-progress {
  display: block;
  margin: 20px auto;
  width: 120px;

}

/* .circular-progress-background {
  fill: none;
  stroke: #ddd; 
} 
*/

.circular-progress-bar {
  fill: none;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s;
}

.circular-progress-text {
  font-family: Arial, sans-serif;
  /* font-size: 40px; */
  text-anchor: middle;
  dominant-baseline: middle;
  fill: #333;
}